{% extends "base.html" %}

{% load static %}

{% block content %}
  <!--================ Shipping conditions Area =================-->
  <section class="policy section_gap">
    <div class="container">
        <h1>Shipping conditions</h1>
        <br>
        <h2>Which countries do you ship to?</h2>
        <p>We ship to all member states of the European Union, Switzerland, the United Kingdom, Australia and the United States. We do not ship outside of these countries.</p>
        <h2>Which shipping rate applies to my order?</h2>
        <div><span style="font-size: 1rem;">Products are shipped from our offices in the Netherlands via PostNL at standard rates. All shipments are subject to PostNL terms and conditions.</span></div>
        <p>You may choose from a few options that can be found in the table see below.</p>
        <table style="width: 330px;">
          <tbody>
            <tr>
              <th>Zone</th>
              <th>Fee (EUR)</th>
            </tr>
            <tr>
              <td>Netherlands</td>
              <td>€7</td>
            </tr>
            <tr>
              <td>European Union</td>
              <td>€25</td>
            </tr>
            <tr>
              <td>Switzerland and the United Kingdom</td>
              <td>€25</td>
            </tr>
            <tr>
              <td>Outside of Europe (AU and US)</td>
              <td>€35</td>
            </tr>
          </tbody>
        </table>
        <br>
        <h2>When is my order processed?</h2>
        <p>Your order will be processed after you press the&nbsp;Confirm order&nbsp;button on the last page of the three step checkout process.</p>
        <p><span style="font-size: 1rem;">The shipping cost will be billed separately on the order.</span></p>
        <br>        
        <h2>When will my order be shipped?</h2>
        <p>Your item will be shipped Monday through Friday during business hours. Delivery times are based on business days: 8 AM – 5 PM Monday through Friday, excluding holidays.</p>
        <p>Orders placed before 3 PM Central European Time will be shipped within two working days.</p>
        <br>
        <h2>When do I receive my order?</h2>
        <div>After processing and payment of your order, the shipment will be handed over to PostNL within 2 working days.<br>You will receive a tracking number on which you can follow your delivery.</div>
        <div>&nbsp;</div>
        <table style="width: 330px;">
          <tbody>
          <tr>
            <th>Zone</th>
            <th>Shipping lead time</th>
          </tr>
          <tr>
            <td>Netherlands</td>
            <td>5 working days</td>
          </tr>
          <tr>
            <td>Germany, Belgium and Luxemburg</td>
            <td>9 working days</td>
          </tr>
          <tr>
            <td>Rest of Europe</td>
            <td>14 working days</td>
          </tr>
          </tbody>
        </table>
      <br>
      <h2>How can I track my order?</h2>
      <p>You will be supplied a track and trace number on which you can follow your shipment.</p>
      <br>
      <h2>Who can I contact if I have a question?</h2>
      <p>Please contact our customer service department at info@staraid.ai if you have any questions regarding your order, shipping, or returns.</p>
      <br>
      <h2>What does “Limited availability” mean?</h2>
      <p>Some products may be listed as “Limited availability”. This means that the lead time is uncertain, and you will be contacted when it will be sent.</p>
      <br>
    </div>
  </section>
  <!--================ End Shipping conditions Area =================-->





{% endblock %}