{% extends "base.html" %}

{% load static %}

{% block content %}
  <!--================ Returns and Warranty Area =================-->
  <section class="policy section_gap">
    <div class="container">
      <h1>Returns and warranty</h1>    
      <br>
      <p>Any incorrect or defective products may be returned. You will need to contact customer service at info@staraid.ai.</p>

      <p>You will be supplied with the necessary instructions and need to complete a Returns Form.</p>

      <p>Within 30 days of original purchase, the customer is entitled to return the purchased product. Please download, print and fill in the Returns Form and include it in the packaging of the returned product.</p>

      <p>The customer is responsible for shipping charges to return an item. We cannot refund any postage directly paid for by the customer.<br>
      If we determine an item was returned with no defect or due to user error the customer is responsible for shipping charges to and from our warehouse.</p>

      <p>When returning a product, please be careful to pack the product appropriately to avoid damage during return shipping. Detailed instructions for returns are included on our standard Returns Form. </p>
      <p>>We recommend you choose a shipping method requiring a signature upon delivery to bSentient B. V. (trading as staraid.ai). If a product is lost or damaged in transit back to bSentient, please contact the carrier to resolve the problem.</p>
      <br>
      <h2>Satisfaction Guarantee</h2>
      <p>If for any reason you aren’t satisfied with the product you purchased or it does not suit your anticipated application, 
      you are welcome to return that product within 30 days from the date of purchase for a refund or a replacement. 
      Products must be returned in resalable condition including all manufacturer’s packaging, cables, 
      software disks, and instructions. Be sure to include the completed Returns Form. 
      Shipping charges will not be refunded unless the wrong product was shipped or the product was damaged during delivery 
      or damaged on arrival.</p>
      <br>
      <h2>International Returns</h2>
      <p>You are responsible for all duties, taxes, and any other fees required by your country once your order has shipped. If your order is refused on arrival, shipping and any additional fees incurred will be deducted from your refund. 
      The original shipping fees and the cost of any shipping fees associated with returning or exchanging products are your responsibility and are non-refundable.</p>
      <br>
      <p>This document was last updated on March 17, 2019</p>
        
    </div>
  </section>
  <!--================ End PReturns and Warranty Area =================-->

{% endblock %}