{% extends "base.html" %}

{% load static %}

{% block content %}

  <section class="section_gap">
        <div class="container">
            <div class="main_title f-heading">
                <h1 class="uppercase f-heading_c"> Features</h1>
                <h2 class="f-heading_c">StarAid Revolution</h2>
             </div>
             
        <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                    <div class="item embed-responsive embed-responsive-21by9"> <iframe class="embed-responsive-item" width="100%" max-height="900px" src="https://www.youtube.com/embed/q8LVzth3bic" frameborder="0" ></iframe> </div>
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2>No configuration</h2>
                    <ul class = "list-inline bullets">
                        <li><b>Autoguiding starts automatically</b> as soon as you power on your StarAid. Point your telescope anywhere in the sky, and StarAid will find multiple guide stars. Even under a full moon or in a rich star cloud in the milky way under pristine skies.</li>
                        <li>No laptop or any other device needed</li>
                        <li>Guiding <strong>automatically resumes</strong> when clouds pass by or when you move your mount to a new location</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                      <div class="p-5">
                        <h2>Automatically optimised guiding parameters</h2>
                            <p>Let AI do the tedious work</p>
                        <ul class = "list-inline bullets">
                            <li>StarAid automatically monitors the seeing conditions and the mount response</li>
                            <li>It uses Artificial Intelligence to find the optimal guide parameters</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2>Accurate and fast tracking for the best image quality</h2>
                        <p><b>Accurate:</b></p>
                    <ul class = "list-inline bullets">
                        <li>Recognises and <strong>tracks 1 to 20 stars</strong> simultaneously</li>
                        <li>Advanced, high performance proprietary star recognition and centering algorithm</li>
                        <li>Guiding accuracy <strong>not affected by mount backlash</strong></li><li>Up to <b>30% sharper photos</b></li>
                    </ul>
                        <p><b>Fast:</b></p>
                    <ul class = "list-inline bullets">
                        <li>Sends up to <b>5 corrections per second</b> (5Hz) to the mount to minimise drift effects and correct some of the seeing (5Hz)</li>
                        <li>Finishes mount calibration in 4-30 seconds</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
        <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="item embed-responsive embed-responsive-21by9"> <iframe class="embed-responsive-item" width="100%" max-height="900px" src="https://www.youtube.com/embed/NPnd8fSdYOM" frameborder="0" ></iframe> </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2>Live LED status feedback</h2>
                        <p>Always know what StarAid is doing</p>
                    <ul class = "list-inline bullets">
                        <li>LEDs indicate the status of guiding, warnings or errors</li>
                        <li>Different patterns for specific actions</li><li>No need to connect your laptop or phone</li>
                        <li>Adjust their brightness or turn them off completely from the StarAid App</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                    <img class="img-fluid" src="{% static 'img/Tracked-comet.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2>Comet guiding</h2>
                    <ul class = "list-inline bullets">
                      <li><b>Image comets with long exposures</b>StarAid provides a well maintained catalogue of interesting comets. Simply select a comet from
                        <i>object guiding </i>and point your main telescope at the comet.  StarAid tracks and keeps the comet stationary so you can confidently take long exposures for crisp comet images.
                      </li>
                      <li>Once object guiding is enabled, no laptop or any other device is needed.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="p-5">
                    <img class="img-fluid" src="{% static 'img/StarAidmobile.png' %}" alt="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2>Free built-in StarAid App to access extras</h2>
                        <p>Even though StarAid autoguiding is fully autonomous, and requires no additional device, there is a handy StarAid App available to access advanced functionality:</p>
                    <ul class = "list-inline bullets">
                      <li>Monitor the status of autoguiding.</li>
                      <li>Super easy polar alignment.</li>
                      <li>Automatic plate-solving (“Sky Recognition”)</li>
                      <li>Live view to help you focus your StarAid.</li>
                    </ul>
                    <h2>Use it with any device</h2>
                    <ul class = "list-inline bullets">
                      <li>Access and use the app on your smartphone, computer or tablet</li>
                      <li><b>Works without Internet</b></li>
                      <li>Connect your device via StarAid’s built-in wifi or the provided USB cable</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5 modal-body">
                    <div class="embed-responsive-21by9"> <iframe  class ="position embed-responsive-item" src="https://www.youtube.com/embed/HlUyswK3yMs?&autoplay=1&loop=1&rel=0&showinfo=0&iv_load_policy=3&playlist=HlUyswK3yMs" id="HlUyswK3yMs" frameborder="0" allow="autoplay; fullscreen" allowfullscreen ></iframe> </div>
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2>Point up and start alignment with a tap in your app</h2>
                    <ul class = "list-inline bullets">
                      <li>Just point your telescope anywhere in the sky. No need to see the celestial pole from your location.</li>
                      <li>StarAid will tell you how to set your mount.</li>
                      <li><b>Works equally well in the Southern hemisphere, Northern hemisphere and at the equator.</b></li>
                      <li><b>Works well for apartment windows or balconies where the celestial pole is obscured.</b></li>
                      <li><b>Choose fast or high accuracy:</b> typically 30″ within 2 minutes (good enough for guiding), 10″ within 4 minutes (accurate), or 1″ within 12 minutes (precise).</li>
                      <li>Intuitive guidance with <b>real-time visual feedback</b> while making adjustments.</li>
                      <li>All mounts with adjustable screws or knobs are supported (even single-axis tracking mounts).</li>
                      <li>Polar alignment also works without a connection to the guide port.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
        
    </div>
  </section>


{% endblock %}