{% extends "base.html" %}

{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}
<div class="container">
    <form method="post" class="accountform">{% csrf_token %}
        <p>Please specify your email address to receive instructions for resetting it.</p>
        <br>
        <div style="display:none"class="form-group>
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <button type="submit" class="main_btn mb-20 mt-5">Reset Password</button></p>
    </form>
</div>
{% endblock %}