{% extends "base.html" %}

{% block content %}

{% load static %}
{% load comments %}
{% load reviews %}
{% load product_reviews %}
    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  {% for image in product.images.all %}
                    {% if forloop.first %}
                      <li
                        data-target="#carouselExampleIndicators"
                        data-slide-to="{{ forloop.counter0 }}"
                        class="active"
                      >
                    {% else %}
                      <li
                        data-target="#carouselExampleIndicators"
                        data-slide-to="{{ forloop.counter0 }}"
                      >
                    {% endif %}
                      <img class="carousel-thumbnail"
                        src="{{ MEDIA_URL }}{{ image.name }}"
                        alt=""
                      />
                    </li>
                  {% endfor %} 
                </ol>
                <div class="carousel-inner">
                  {% for image in product.images.all %} 
                    {% if forloop.first %}<div class="carousel-item active">{% else %}<div class="carousel-item">{% endif %}
                      <img
                        class="d-block w-100"
                        src="{{ MEDIA_URL }}{{ image.name }}"
                        alt="First slide"
                      />
                    </div>
                  {% endfor %}                   
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{product.name}}</h3>
              <h2>€ {{product.price}}</h2>
              <ul class="list">
                <li>
                </li>
                <li>
                  <a href="#"> <span>Availibility</span> : {{product.stock}} in stock</a>
                </li>
              </ul>
              <p>
                {{product.description}}
              </p>
              <!--<div class="product_count">-->
              <!--  <label for="qty">Quantity:</label>-->
              <!--  <input-->
              <!--    type="text"-->
              <!--    name="qty"-->
              <!--    id="sst"-->
              <!--    maxlength="12"-->
              <!--    value="1"-->
              <!--    title="Quantity:"-->
              <!--    class="input-text qty"-->
              <!--  />-->
              <!--  <button-->
              <!--    onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"-->
              <!--    class="increase items-count"-->
              <!--    type="button"-->
              <!--  >-->
              <!--    <i class="lnr lnr-chevron-up"></i>-->
              <!--  </button>-->
              <!--  <button-->
              <!--    onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"-->
              <!--    class="reduced items-count"-->
              <!--    type="button"-->
              <!--  >-->
              <!--    <i class="lnr lnr-chevron-down"></i>-->
              <!--  </button>-->
              <!--</div>-->
              <div class="card_area">
                <a class="main_btn" href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
                <!--<a class="icon_btn" href="#">-->
                <!--  <i class="lnr lnr lnr-diamond"></i>-->
                <!--</a>-->
                <!--<a class="icon_btn" href="#">-->
                <!--  <i class="lnr lnr lnr-heart"></i>-->
                <!--</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->


    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Features</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Specification</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Comments</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              id="review-tab"
              data-toggle="tab"
              href="#review"
              role="tab"
              aria-controls="review"
              aria-selected="false"
              >Reviews</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <p>
              {{product.features|linebreaks}}
            </p>
            <p>
              {{product.long_description|linebreaks}}
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% for item in product.specifications.all %}
                  <tr>
                    <td>
                      <h5>{{ item.name }}</h5>
                    </td>
                    <td>
                      <h5>{{ item.value }}</h5>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="comment_list">
                  {% get_comment_list for product as comment_list %}
                  {% for comment in comment_list %}
                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
                          <img
                            src="{% static 'img/anonymous.jpg' %}"
                            alt=""
                          />
                        </div>
                        <div class="media-body">
                          <h4>{{ comment.user_name }}</h4>
                          <h5>{{ comment.submit_date }}</h5>
                          <!--<a class="reply_btn" href="#">Reply</a>-->
                        </div>
                      </div>
                      <p>
                        {{ comment.comment }}
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Post a comment</h4>
                  {% if user.is_authenticated %}
                    {% load comments i18n %}
                    {% get_comment_form for product as form %}
                    <form class="row contact_form" id="contactForm" action="{% comment_form_target %}" method="post">
                      {% csrf_token %}
                      <div><input type="hidden" name="next" value="{{ request.path }}"/></div>
                      {% for field in form %}
                        {% if field.is_hidden %}
                          <div>{{ field }}</div>
                        {% else %}
                          <div class="col-md-12">
                            <div class="form-group" {% if field.errors %} class="error"{% endif %} {% if field.name in "honeypot,url,name,email" %} style="display:none;"{% endif %}>
                              {% if field.errors %}{{ field.errors }}{% endif %}
                              <input
                                type="text"
                                class="form-control"
                                id="{{ field.id }}"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}"
                                {% if field.name == "comment" %}
                                  onkeyup="document.getElementById('submit-comment').disabled = (this.value.length === 0)"
                                {% endif %}
                              />
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      <div class="col-md-12 text-right">
                        <button id="submit-comment" type="submit" name="post" value="{% trans "Post" %}" class="btn submit_btn" disabled>
                          Submit Now
                        </button>
                      </div>
                    </form>
                  {% else %}
                    <p>Please <a href="{% url 'login' %}?next={{request.path}}">log in</a> to leave a comment.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade show active"
            id="review"
            role="tabpanel"
            aria-labelledby="review-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="row total_rate">
                  <div class="col-6">
                    <div class="box_total">
                      <h5>Overall</h5>
                      <h4>4.0</h4>
                      <h6>(03 Reviews)</h6>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="rating_list">
                      {% get_review_count for product as review_count %}
                      <h3>Based on {{ review_count }} Reviews</h3>
                      <ul class="list">
                        {% for rating in "54321" %}
                          <li>
                            <a href="#">
                              {{rating}} Star
                              {% for star in "12345" %}
                                <i class="fa {% if star > rating %} fa-star-o {% else %} fa-star {% endif %}"></i>
                              {% endfor %}
                              {% get_review_list for product as review_list %}
                              {% with review_list|has_rating:rating|length as rating_review_count %}
                                {{rating_review_count}}
                              {% endwith %}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="review_list">
                  {% get_review_list for product as review_list %}
                  {% for review in review_list %}
                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
                          <img
                            src="{% static 'img/anonymous.jpg' %}"
                            alt=""
                          />
                        </div>
                        <div class="media-body">
                          <h4>{{ review.user_name }}</h4>
                          {% for star in "12345" %}
                            {% with star|add:0 as star_rating %}
                              <i class="fa {% if star_rating > review.rating %} fa-star-o {% else %} fa-star {% endif %}"></i>
                            {% endwith %}
                          {% endfor %}
                        </div>
                      </div>
                      <p>{{ review.comment }}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Add a Review</h4>
                  <p>Your Rating:</p>
                  <ul class="list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                  </ul>
                  <p>Outstanding</p>
                  {% if user.is_authenticated %}
                    {% load reviews i18n %}
                    {% get_review_form for product as form %}
                    <form
                      id="contactForm"
                      class="row contact_form"
                      action="{% review_form_target %}"
                      method="post">
                      {% csrf_token %}
                      {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                      {% endif %}
                      {% for field in form %}
                        {% if field.is_hidden %}
                          {{ field }}
                        {% else %}
                          <div class="col-md-12">
                            <div class="form-group" {% if field.errors %} class="error"{% endif %} {% if field.name in "honeypot,url,name,email" %} style="display:none;"{% endif %}>
                              {% if field.errors %}{{ field.errors }}{% endif %}
                              <input
                                type="text"
                                class="form-control"
                                id="{{ field.auto_id }}"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}"
                                {% if field.name == "comment" %}
                                  onkeyup="document.getElementById('submit-review').disabled = (this.value.length === 0)"
                                {% endif %}
                              />
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      <div class="col-md-12 text-right">
                        <button id="submit-review" type="submit" name="post" value="{% trans "Post" %}" class="btn submit_btn" disabled>
                          Submit Now
                        </button>
                      </div>
                    </form>
                    {{ form.media }}
                    <style>
                      .gl-star-rating[data-star-rating] { display: inline-block; }
                    </style>
                    <script>
                      var starRatingControls = new StarRating('#id_rating', {clearable: false, showText: {{ show_rating_text|yesno:"true,false" }}, initialText: '{% trans "Select a rating" %}'});
                    </script>
                  {% else %}
                    <p>Please <a href="{% url 'login' %}?next={{request.path}}">log in</a> to leave a review.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->
    
{% endblock %}