.logo_nav { 
    width:  100%;
    height: auto;
}

.logo_h {
    width: 150px;
}

.accountform {
    padding-top: 20px;
}

.profile {
    padding-right: 7px;
}

 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }
 
 /* -================Home banner ================= */
 .padding {
     padding: 0.7rem
 }

 .owl-carousel .item {
     margin: 3px
 }

 .owl-carousel .item img {
     display: block;
     width: 100%;
     height: auto
 }

 .owl-carousel .item {
     margin: 3px
 }
 
.owl-carousel {
     margin-bottom: 15px
 }
 
.owl-nav {
    display: none!important;
}

.embed-responsive{
    overflow: hidden;
    padding-top: 16%;
}

.item{
    margin-bottom: 50px !important;
}

.comet{
    padding-top: 50px
}
 /* -================Start feature Area ================= */
 
 
.fa.fa-thumbs-o-up {
    font-weight: 400 !important;
    font-family: fontawesome !important;
    font-size: 32px !important;
    color: #ffbf66 !important;
}

.fa.fa-tachometer {
    font-weight: 400 !important;
    font-family: fontawesome !important;
    font-size: 32px !important;
    color: #ffbf66 !important;
}

.fa.fa-leaf{
    font-weight: 400 !important;
    font-family: fontawesome !important;
    font-size: 32px !important;
    color: #ffbf66 !important;
}

.fa.fa-check{
    font-weight: 400 !important;
    font-family: fontawesome !important;
    font-size: 32px !important;
    color: #ffbf66 !important;
}


.feature-area{
    background-image:url("/media/img/sharper-photos-bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 25px 0px;
}



.single-feature{
    border: 1px solid #F8F8FF !important;
    margin-bottom: 20px !important;
}

.single-feature h3 {
    font-size: 25px !important;
    color: #F8F8FF!important ;
    font-family: "Maven Pro", Sans-serif;
    font-weight: normal !important;
    line-height: 40px;
}

 /* -================Cart ================= */
.thumbnail{
   width:250px !important;
   height:250px !important;
}

 /* -================Cart icon ================= */
.cartcounter{
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}

/* -================single product ================= */
 
.carousel-thumbnail{ 
	width: 60px;
	height: 60px;
}

/* -================search bar ================= */

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 15px;
  color: #FFF;
  border: none;
  background: transparent;
}


#search-overlay{
  display:none;
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}

#search-form {
  height: 5em;
  border-radius: 2px;
  overflow: hidden;
}

#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 1;
  background: transparent;
}

#search-box input[type="text"] {
  width: 85%;
  padding: 20px;
  color: #333;
  outline: none;
  font-size: 1.4em;
}

.search-icons{
    padding: 4px;
}

