{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="https://staraid-ecommerce.s3.amazonaws.com/static/js/stripe.js"></script>
{% endblock head_js %}

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
      <div class="container">
<!--    <div class="cupon_area">
          <div class="check_title">
            <h2>
              Have a coupon?
              <a href="#">Click here to enter your code</a>
            </h2>
          </div>
          <input type="text" placeholder="Enter coupon code" />
          <a class="tp_btn" href="#">Apply Coupon</a>
        </div>
-->        
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Order Details</h3>
              <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                <div class="col-md-12 form-group p_star">
                  <div id="credit-card-errors" style="display: none;">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                  </div>
                    {% crispy order_form %}
                </div>
                <div class="col-md-12 form-group p_star">
                    {% crispy payment_form %}
                </div>
                {% csrf_token %}

            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#"
                      >Product
                      <span>Total</span>
                    </a>
                  </li>
                {% for item in cart_items %}
                  <li>
                    <a href="#"
                      >{{ item.product.name }}
                      <span class="middle">{{item.quantity}}</span>
                      <span class="last">€{{ item.product.price }}</span>
                    </a>
                  </li>
                {% endfor %}
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#">Subtotal <span>€{{ sub_total }}</span></a>
                  </li>
                  <li>
                    <a href="#">Shipping<span>Flat rate: €{{ region_price }}</span></a>
                  </li>
                  <li>
                    <a href="#">Total<span>€{{ total }}</span></a>
                  </li>
                </ul>
                <!--<div class="creat_account">-->
                <!--  <input type="checkbox" id="f-option4" name="selector"/>-->
                <!--  <label for="f-option4">I’ve read and accept the </label>-->
                <!--  <a href="#">terms & conditions*</a>-->
                <!--</div>-->

                  <div >
                    <input class="main_btn col-md-12" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

{% endblock %}