{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              
              <tbody>
                {% for item in cart_items %}
                  <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          
                          {% with image=item.product.images.all|first %}
                          <img class="thumbnail img-responsive"
                            src="{{ MEDIA_URL }}{{ image.name }}"
                            alt=""
                          />
                          {% endwith %} 
                        </div>
                        <div class="media-body">
                          <p>{{ item.product.name }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>€ {{ item.product.price }}</h5>
                    </td>
                    <td>
                      <div class="product_count">
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                          {% csrf_token %}
                          <input
                            type="text"
                            name="quantity{{item.id}}"
                            id="sst{{item.id}}"
                            maxlength="12"
                            value="{{item.quantity}}"
                            title="Quantity:"
                            class="input-text qty"
                          />
                          <button
                            onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst )) result.value++; this.form.submit(); return false;"
                            class="increase items-count"
                            type="button"
                          >
                            <i class="lnr lnr-chevron-up"></i>
                          </button>
                          <button
                            onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--; this.form.submit(); return false;"
                            class="reduced items-count"
                            type="button"
                          >
                            <i class="lnr lnr-chevron-down"></i>
                          </button>
                        </form>
                      </div>
                    </td>
                    <td>
                      <h5>€{{ item.total }}</h5>
                    </td>
                  </tr>
                {% endfor %}
                
                <tr >
                  <td class="bottom_button">
                    <a class="gray_btn" href="#">Update Cart</a>
                  </td>
                  <td>
                    <div class="cupon_text">
                      <input type="text" placeholder="Coupon Code" />
                    </div>
                  </td>
                  <td>
                      <a class="gray_btn" href="#">Use Coupon</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>€ {{ sub_total }}</h5>
                  </td>
                </tr>
                <tr class="shipping_area">
                  <td>
                    <h5>Shipping</h5>
                  </td>
                  <td></td>
                  <td>
                    <form class="form-inline" method="post" action="{% url 'adjust_region' %}">
                        {% csrf_token %}
                        <select name="selected_region" id="selected_region" class="shipping_select" onchange="this.form.submit()">
                          {% for region in regions %}
                            {% if region.name == selected_region %}
                              <option value="{{region}}" selected>{{region}}</option>
                            {% else %}
                              <option value="{{region}}">{{region}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </form>
                  </td>
                  <td>
                    <div class="shipping_box">
                      <ul class="list">
                        <li>
                          € {{ region_price }}
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Total</h5>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>€ {{ total }}</h5>
                  </td>
                </tr>

                <tr class="out_button_area">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner">
                      <a class="gray_btn" href="{% url 'products' %}">Continue Shopping</a>
                      <a class="main_btn" href="#">Proceed to checkout</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->

{% endblock %}