{% load static compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
  <title>E-commerce-website-Staraid</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/assets/owl.carousel.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/style.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
  

</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href={% url 'index' %}>
            <img class ="logo_nav" src="{% static 'img/staraid-color.svg' %}" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <a class="nav-link" href={% url 'index' %}>Home</a>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href={% url 'products' %}>All Products</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href={% url 'view_cart' %}>Shopping Cart</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">About</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href={% url 'staraid' %} >Star Aid</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href={% url 'qa' %}>Q&A</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href={% url 'news' %}>In the news</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item">
                    <a href="#" onclick="$('#search-overlay').fadeIn();return false;" class="icons"><i id="search-btn" class="ti-search" aria-hidden="true"></i></a>
                  </li>

                  <li class="nav-item">
                    <a href="{% url 'view_cart' %}" class="icons">
                      <i class="ti-shopping-cart"></i>
                      {% if product_count > 0 %}
                        <span class = "cartcounter" >
                          {{product_count}}
                        </span>
                      {% endif %}
                    </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a href="#" class="icons nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="ti-user" aria-hidden="true"></i>
                      {% if user.is_authenticated %}
                        {{ user.get_username }}
                      {% endif %}
                    </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.is_authenticated %}
                          <a class="dropdown-item nav-link" href="{% url 'update' %}"><i class="profile fa fa-user"></i>Profile</a>
                          <a class="dropdown-item nav-link" href="{% url 'logout' %}"><i class="profile fa fa-sign-out"></i> Log out</a>
                        {% else %}
                          <a class="dropdown-item nav-link" href="{% url 'login' %}"><i class="profile fa fa-sign-in"></i> Log in</a>
                          <a class="dropdown-item nav-link" href="{% url 'register' %}"><i class="profile fa fa-user-plus"></i></i>Register</a>
                        {% endif %}
                      </div>
                  </li>

<!--              <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-heart" aria-hidden="true"></i>
                    </a>
                  </li>-->
                  
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div id="search-overlay" class="block">
      <div class="centered">
        <div id='search-box'>
          <form action="{% url 'search' %}" id='search-form' method="get">
            <input type="text" name="q" placeholder='Search'>
            <a href="#" class="icons" onclick="this.parentNode.submit(); return false;"><i class="ti-search search-icons"></i></a>
            <a href="#" class="icons" onclick="$('#search-overlay').fadeOut();return false;"><i id="search-btn" class="ti-close search-icons" aria-hidden="true"></i></a>
          </form>
        </div>
      </div>
    </div>
  </header>
  
  <!--================Header Menu Area =================-->
  
  {% if messages %}
    <div class="alert alert-success">
      <div class="messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {% block content %}
  {% endblock %}

    <!--================ start footer Area  =================-->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4></h4>
          <ul>
            <li>          
              <a class="navbar-brand logo_h" href={% url 'index' %}>
              <img class ="logo_nav" src="{% static 'img/staraid-white.png' %}" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Customer Service</h4>
          <ul>
            <li><a href="{% url 'payment_and_shipping' %}">Payment and Shipping</a></li>
            <li><a href="{% url 'returns_and_warranty' %}">Returns and Warranty</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Policies</h4>
          <ul>
            <li><a href="{% url 'terms_and_conditions' %}">Terms and conditions</a></li>
            <li><a href="{% url 'privacy' %}">Privacy</a></li>
            <li><a href="{% url 'cookies' %}">Cookies</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>About</h4>
          <ul>
            <li>bSentient B. V.</li>
            <li>Leeuwenbrug 89A, 7411TH Deventer (NL)</li>
            <li>Reg. nr. 73124028</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Receive updates about StarAid Revolution</h4>
          <form action="{% url 'newsletter_subscribe' %}" method="POST" class="form-inline">
            {% csrf_token %}
            <input
              class="form-control"
              name="email"
              maxlength="254"
              placeholder="Your Email Address"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your Email Address '"
              required=""
              type="email">
            <button class="click-btn btn btn-default" type="submit" formmethod="POST">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 footer-social">
          <a href="https://www.facebook.com/staraidautoguider"><i class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCrDLizNZ8YcBnLKx-2jImJQ"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="{% url 'contact' %}"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  {% block head_js %}
  {% endblock head_js %}
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/stellar.js' %}"></script>
  <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/mail-script.js' %}"></script>
  <script src="{% static 'js/theme.js' %}"></script>

</body>

</html>